.mmb_container {
  background-color: #fff;
}
.mmb_foot {
  background-color: #f1f1f1;
}
.mmb_brand .hd {
  color: #874604;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  background-color: #f3f3f3;
}
.mmb_brand .hd h3 {
  font-size: 14px;
  line-height: 36px;
  padding-left: 10px;
}
.mmb_brand .brand_list_one li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.mmb_brand .brand_list_one li a {
  display: block;
}
.mmb_brand .brand_list_one li .iconfont {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #a9b7b7;
  font-weight: bold;
}
.mmb_brand .brand_list_one li a em {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  vertical-align: top;
  background-color: #c9c9c9;
}
.mmb_brand .brand_list_one li a em.top1 {
  background-color: #f10e0e;
}
.mmb_brand .brand_list_one li a em.top2 {
  background-color: #ff9314;
}
.mmb_brand .brand_list_one li a em.top3 {
  background-color: #8adf5b;
}
.mmb_brand .brand_list_one li a .inner {
  display: inline-block;
}
.mmb_brand .brand_list_one li a .inner .tit {
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
.mmb_brand .brand_list_one li a .inner p {
  font-size: 14px;
  margin-top: 3px;
  color: #999;
}
.product_list_two li a {
  display: block;
}
.product_list_two li .info .price {
  font-size: 18px;
  margin-top: 4px;
  height: 25px;
}
.product_list_two li .info .price em {
  color: #ea3900;
  float: left;
}
.product_list_two li .info .price .start {
  float: right;
  color: #ff9000;
}
.product_list_two li .other {
  font-size: 12px;
}
.product_list_two li .other em {
  margin-right: 10px;
  color: #a1a1a1;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
li .pic {
  width: 1.1rem;
  height: 1rem;
  float: left;
}
li .pic img {
  width: 1rem;
  height: 100%;
}
li .info {
  font-size: 14px;
  min-height: .44rem;
  line-height: 22px;
}
.product_com .info .tit {
  color: #999;
}
.product_com .protit {
  margin-bottom: 10px;
}
.product_com .plbox {
  padding: 10px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  margin-top: 10px;
}
.product_com .plbox .name {
  color: #4f6900;
  font-size: 14px;
  line-height: 18px;
}
.product_com .plbox .con {
  font-size: 14px;
  margin-top: 10px;
}
