.mmb_container {
  background-color: #fff;
}
.mmb_foot {
  background-color: #f1f1f1;
}
/* 分类区域  */
.mmb_category .category_content {
  background-color: #f9f9f9;
  display: none;
}
.mmb_category .category_content li {
  width: 33.3%;
  height: .4rem;
  float: left;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: .4rem;
  box-sizing: border-box;
  text-align: center;
}
.mmb_category .category_content li a {
  display: block;
}
.mmb_category .category_content li:nth-child(3n) {
  border-right: none;
}
.mmb_category .category_content.visible {
  display: block;
}
