.mmb_container {
  background-color: #fff;
}
.mmb_foot {
  background-color: #f1f1f1;
}
.mmb_header {
  padding: 0 .55rem;
  height: .44rem;
  line-height: .44rem;
  position: relative;
}
.mmb_header .back,
.mmb_header .appdown {
  width: .55rem;
  height: .44rem;
  position: absolute;
  top: 0;
}
.mmb_header .back {
  left: 0;
}
.mmb_header .appdown {
  right: 0;
  padding: 0;
}
.mmb_header .appdown img {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.mmb_header a {
  display: block;
  width: .55rem;
  height: .44rem;
}
.mmb_header h1 {
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.mmb_content_money li {
  padding: 20px 10px;
}
.mmb_content_money li a {
  display: block;
}
.mmb_content_money li .pic {
  width: 1.1rem;
}
.mmb_content_money li img {
  width: 1rem;
  height: 1rem;
}
.mmb_content_money li .info {
  padding-left: 1rem;
  font-size: 14px;
  line-height: 24px;
}
.mmb_content_money li .info .title {
  height: .57rem;
}
.mmb_content_money li .info .price {
  color: #ff6c00;
}
.mmb_content_money li .info .other {
  margin-top: 8px;
  font-size: 12px;
  color: #a1a1a1;
}
.mmb_content_money .page {
  margin-top: 10px;
}
.mmb_content_money .page span {
  float: left;
  display: block;
  width: 33.3%;
  height: .32rem;
  text-align: center;
}
.mmb_content_money .page select {
  width: .95rem;
  height: .34rem;
}
.mmb_content_money .page a {
  width: .82rem;
  display: block;
  line-height: .34rem;
  background-image: linear-gradient(to bottom, #f1f1f1 0, #d4d4d4 100%);
  border-radius: 5px;
  margin: 0 auto;
}
