.mmb_container {
  background-color: #fff;
}
.mmb_header {
  background-color: #ff841d;
}
.mmb_content_money {
  background-color: #fff;
}
.mmb_content_money li {
  padding: 20px 10px;
  background-color: #fff;
}
.mmb_content_money li a {
  display: block;
}
.mmb_content_money li .pic {
  width: 1.1rem;
}
.mmb_content_money li img {
  width: 1rem;
  height: 1rem;
}
.mmb_content_money li .info {
  padding-left: 1rem;
  font-size: 14px;
  line-height: 24px;
}
.mmb_content_money li .info .title {
  height: .57rem;
}
.mmb_content_money li .info .price {
  color: #ff6c00;
}
.mmb_content_money li .info .other {
  margin-top: 8px;
  font-size: 12px;
  color: #a1a1a1;
}
