.product_list {
  background-color: #fff;
}
.product_list li {
  border-bottom: 1px solid #ccc;
}
.product_list li a {
  display: block;
  padding: 10px;
}
.product_list .pic {
  width: 1.1rem;
}
.product_list .pic img {
  width: 1rem;
  height: 1rem;
}
.product_list .info {
  padding-left: 1rem;
  font-size: 14px;
  line-height: 24px;
}
.product_list .info .price {
  font-size: 18px;
  color: #ef6400;
}
.product_list .info .other {
  color: #aaaac2;
  font-size: 12px;
}
.product_list .info .other span {
  margin-right: 10px;
}
