@charset "utf-8";

/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

input,
select,
form images,
button {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

textarea {
    width: 95%;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ul,
ol,
li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

img {
    border: none;
}

input,
img {
    vertical-align: middle;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.t_red {
  color: red;
}
// 超过两行省略 
.txt-over-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt-over-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
// 超过单行省略 .
.txt-over-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
    color: #000;
    font-family: arial;
    background: #FFF;
    overflow-x: hidden;
}

// 公共头部 
html,body {
    width: 100%;
    height: 100%;
  }
  body {
    font-size: 12px;
  
  }
  
  
  // 引入主题色文件 
  @import "mainColor";
  
  .mmb_container {
    width: 100%;
    // height: 100%;
    background-color: @colorContain;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
  
  }
  // 头部 
  .mmb_header {
    width: 100%;
    height: .5rem;
    background-color: @colorDeep;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    
    a {
      height: 50px;
    }
    .logo {
      width: 2.4rem;
      height: 100%;
      margin-left: 5px;
      padding: .12rem;
      img {
        width: 1.855rem;
    
      }
    }
    .appdown {
      width: .48rem;
      height: .48rem;
      padding: .07rem;
      
      img {
        width: .34rem;
        height: .34rem;
      }
    }
  }
// 搜索模块 
.mmb_searh {
    background-color: #fff;
    padding: .1rem;
    position: relative;
    form.search {
      padding-right: .7rem;
    }
    input {
      width: 100%;
      height: .3rem;
      background-color: @colorContain;
      border: none;
      border-radius: .15rem;
      padding: 0 50px 0 30px;
    }
    button {
      border: none;
      background-color: @colorDeep;
      color: #fff;
      width: .63rem;
      height: .3rem;
      border-radius: .15rem;
      position: absolute;
      right: .1rem;
      top: .1rem;
    }
  }

  // 底部区域 
.mmb_foot {
  .foot_top {
    margin-top: 25px; 
    height: .34rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    a {
      display: block;
      float: left;
      border-right: 1px solid #ccc;
      text-align: center;
      width: 33.3%;
      height: .34rem;
      line-height: .34rem;
    }
    a:last-child {
      border: none;
    }
    img {
      width: .15rem;
      height: .15rem;

    }
  }
  .foot_bottom {
    padding: 15px 0;
    text-align: center;
    color: #a1a1a1;
  }
}


// 路径导航部分 

.product_list_title {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
  width: 100%;
  height: .38rem;
  line-height: .36rem;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  background-image: linear-gradient(to bottom,#fff 0, #ebebeb 100%);
  a.select {
    display: block;
    width: .6rem;
    height: .28rem;
    line-height: .28rem;
    text-align: center;
    border: none;
    margin-top: 4px;
    border-radius: 5px;
    border-bottom: 1px solid #bababa;
    box-shadow: 0 1px 2px #888;
    background-image: linear-gradient(to bottom, #d7d7d7 0, #f5f5f5 100%);
  }
}

// 分类导航列表 
.mmb_category { 
  .row {
    border: 1px solid #ccc;
    border-radius: 5px;
   background-color: #ededed;

  }
  .category_title>li>a {
    display: block;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    padding-left: 16px;
    background: url("http://www.zuyushop.com/wap/images/arrow1.gif") no-repeat right;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;

  }
  .category_title>li>a:last-child {
    border: none;
  }
  .category_title>li:last-child li {
    border-bottom: none;
  }
}