@import "mainColor";

.mmb_container {
  background-color: #fff;
}

/* 分类区域  */
.mmb_category {
  .category_content {
    background-color: #f9f9f9;
    display: none;
    
    li {
      width: 33.3%;
      height: .4rem;
      float: left;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      line-height: .4rem;
      box-sizing: border-box;
      text-align: center;
      a {
        display: block;
       
      }
    }
    li:nth-child(3n) {
      border-right: none;
    }
  }
  .category_content.visible {
    display: block;
  }
  
}