.mmb_container {
  background-color: #fff;
}
// 头部颜色
@import "mainColor";

.mmb_header {
  background-color: @colorDeep;
}

.mmb_content_money {
  background-color: #fff;
  li {
    padding: 20px 10px;
    background-color: #fff;
    a {
      display: block;
      
    }
    .pic {
      width: 1.1rem;
    }
    img {
      width: 1rem;
      height: 1rem;

    }
    .info {
      padding-left: 1rem;
      font-size: 14px;
      line-height: 24px;
      .title {
        height: .57rem;
      }
      .price {
        color: #ff6c00;
      }
      .other {
        margin-top: 8px; 
        font-size: 12px;
        color: #a1a1a1;
      }
    }
  }
  // .page {
  //   margin-top: 10px;
  //   span {
  //     float: left;
  //     display: block;
  //     width: 33.3%;
  //     height: .32rem;
  //     text-align: center;
      
  //   }
  //   select {
  //     width: .95rem;
  //     height: .34rem;
  //     box-sizing: border-box;
  //     font-size: 16px;
  //     padding: 0 18px;
  //   }
  //   a {
  //     width: .82rem;
  //     display: block;
  //     line-height: .34rem;
  //     background-image: linear-gradient(to bottom, #f1f1f1 0, #d4d4d4 100%);
  //     border-radius: 5px;
  //     margin: 0 auto;
  //   }
  // }
}