@import "mainColor";

.product_list {
  background-color: #fff;
  li {
    border-bottom: 1px solid #ccc;
    a {
      display: block;
      padding: 10px;
    }
  }
  .pic{
    width: 1.1rem;
    img {
    width: 1rem;
    height: 1rem;
    }
  }
  .info {
    padding-left: 1rem; 
    font-size: 14px;
    line-height: 24px;
    .price {
      font-size: 18px;
      color: #ef6400;
    }
    .other {
      color: #aaaac2;
      font-size: 12px;
      span {
        margin-right: 10px;
      }
    }
  }


}