.mmb_sitenav {
  .link {
    margin: 10px auto;
    width: 3rem;
    
    a {
      padding: 10px 8px;
      margin-bottom: 5px; 
      margin-left: 5px; 
      border: 1px solid #bfbfbf;
      float: left;
      background-color: #f4f4f4;
      font-size: 14px;
      line-height: 26px;
      img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
}